USE [master]
GO
/****** Object:  Database [Potplants]    Script Date: 14-4-2026 22:48:54 ******/
CREATE DATABASE [Potplants]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Potplants', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Potplants.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Potplants_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Potplants_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Potplants].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Potplants]
GO
USE [Potplants]
GO
/****** Object:  Sequence [dbo].[Seq_InternalNo]    Script Date: 14-4-2026 22:48:55 ******/
CREATE SEQUENCE [dbo].[Seq_InternalNo] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](100) NULL,
	[Street] [nvarchar](150) NULL,
	[HouseNumber] [nvarchar](20) NULL,
	[ApartmentNumber] [nvarchar](20) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[CountryId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carriers]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carriers](
	[CarrierId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CarrierTypeId] [int] NOT NULL,
	[AmountOfShelfs] [int] NOT NULL,
	[AmountOfExtensions] [int] NOT NULL,
	[CreatedBy] [nvarchar](150) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarrierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarrierTypes]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarrierTypes](
	[CarrierTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Width] [decimal](6, 2) NULL,
	[Length] [decimal](6, 2) NULL,
	[MaxHeight] [decimal](6, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
	[Weight] [decimal](6, 2) NOT NULL,
	[Area]  AS ([Width]*[Length]),
	[ShelfWeight] [decimal](6, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarrierTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ClientCode] [nvarchar](20) NOT NULL,
	[ContactPerson] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[AddressId] [int] NOT NULL,
	[TaxId] [nvarchar](20) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[ColorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ISO2Code] [nvarchar](2) NULL,
	[PhoneCode] [nvarchar](10) NULL,
	[Continent] [nvarchar](50) NULL,
	[IsEUMember] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cultivations]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cultivations](
	[CultivationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CultivationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrowerCultivations]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrowerCultivations](
	[GrowerId] [int] NOT NULL,
	[CultivationId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GrowerId] ASC,
	[CultivationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Growers]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Growers](
	[GrowerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[AddressId] [int] NOT NULL,
	[TaxId] [nvarchar](20) NULL,
	[RegistrationNo] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_Growers] PRIMARY KEY CLUSTERED 
(
	[GrowerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceItems]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceItems](
	[InvoiceItemId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ItemNo] [int] NOT NULL,
	[NameSnapshot] [nvarchar](255) NOT NULL,
	[PotSizeSnapshot] [decimal](5, 2) NULL,
	[HeightSnapshot] [decimal](5, 2) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPriceSnapshot] [decimal](18, 2) NOT NULL,
	[TaxRateSnapshot] [decimal](5, 2) NOT NULL,
	[NetAmount]  AS ([Quantity]*[UnitPriceSnapshot]) PERSISTED,
	[TaxAmount]  AS (([Quantity]*[UnitPriceSnapshot])*([TaxRateSnapshot]/(100))) PERSISTED,
	[GrossAmount]  AS (([Quantity]*[UnitPriceSnapshot])*((1)+[TaxRateSnapshot]/(100))) PERSISTED,
	[SourceOrderItemId] [int] NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_InvoiceItems_Invoice_Line] UNIQUE NONCLUSTERED 
(
	[InvoiceId] ASC,
	[ItemNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceParties]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceParties](
	[InvoicePartyId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[TaxId] [nvarchar](50) NULL,
	[Street] [nvarchar](255) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[PostalCode] [nvarchar](20) NOT NULL,
	[CountryCode] [nvarchar](2) NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Country] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
	[FullHouseNo] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoicePartyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [nvarchar](50) NULL,
	[InvoiceDate] [datetime2](0) NOT NULL,
	[PaymentDate] [datetime2](0) NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[TotalStorageCost] [decimal](12, 2) NOT NULL,
	[TotalTransportCost] [decimal](12, 2) NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
	[TotalGross] [decimal](18, 2) NOT NULL,
	[TotalTax] [decimal](18, 2) NOT NULL,
	[TotalNet] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Invoices_InvoiceNo] UNIQUE NONCLUSTERED 
(
	[InvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItemCarriers]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItemCarriers](
	[OrderItemId] [int] NOT NULL,
	[CarrierId] [int] NOT NULL,
 CONSTRAINT [PK_OrderItemCarriers] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC,
	[CarrierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[StorageCost] [decimal](10, 2) NULL,
	[TransportCost] [decimal](10, 2) NULL,
	[Discount] [decimal](5, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
	[InternalNo] [int] NOT NULL,
	[OrderedDate] [datetime2](0) NULL,
	[DeliveredDate] [datetime2](0) NULL,
	[StockItemId] [int] NOT NULL,
	[IsScanned] [bit] NOT NULL,
	[TotalPrice]  AS (([Quantity]*isnull([UnitPrice],(0)))*((1)-isnull([Discount],(0))/(100))),
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[OrderDate] [datetime2](0) NOT NULL,
	[PreparationDate] [datetime2](0) NOT NULL,
	[ShipmentDate] [datetime2](0) NOT NULL,
	[DeliveryDate] [datetime2](0) NOT NULL,
	[DeliveryAddressId] [int] NOT NULL,
	[SalesPerson] [nvarchar](150) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
	[CarrierTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ColorId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Height] [decimal](6, 2) NULL,
	[Potsize] [decimal](5, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsCites] [bit] NOT NULL,
	[Weight] [decimal](5, 2) NULL,
	[Image] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualities]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualities](
	[QualityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[QualityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockItems]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockItems](
	[StockItemId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[GrowerId] [int] NULL,
	[TrayTypeId] [int] NULL,
	[QualityId] [int] NULL,
	[CostPrice] [decimal](10, 2) NULL,
	[InternalNo] [varchar](50) NULL,
	[IsBlocked] [bit] NULL,
	[IsInside] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[Remarks] [nvarchar](500) NULL,
	[ExpiryDate] [datetime2](0) NULL,
	[ReceivedAt] [datetime2](0) NULL,
	[QuantityLeft] [int] NULL,
 CONSTRAINT [PK_StockItems] PRIMARY KEY CLUSTERED 
(
	[StockItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovements](
	[StockMovementId] [int] IDENTITY(1,1) NOT NULL,
	[StockItemId] [int] NOT NULL,
	[OrderItemId] [int] NULL,
	[MovementType] [nvarchar](20) NOT NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[StockBefore] [decimal](10, 2) NOT NULL,
	[StockAfter] [decimal](10, 2) NOT NULL,
	[MovementDate] [datetime2](0) NOT NULL,
	[Reference] [nvarchar](50) NULL,
	[Remarks] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockMovementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrayTypes]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrayTypes](
	[TrayTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[Width] [decimal](6, 2) NULL,
	[Length] [decimal](6, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
	[FittingPotSize] [decimal](5, 2) NULL,
	[QtyPerTray] [int] NULL,
	[Area]  AS (case when [Width] IS NOT NULL AND [Length] IS NOT NULL then [Width]*[Length]  end),
PRIMARY KEY CLUSTERED 
(
	[TrayTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_StockItems_InternalNo]    Script Date: 14-4-2026 22:48:55 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_StockItems_InternalNo] ON [dbo].[StockItems]
(
	[InternalNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carriers] ADD  DEFAULT ((0)) FOR [AmountOfShelfs]
GO
ALTER TABLE [dbo].[Carriers] ADD  DEFAULT ((0)) FOR [AmountOfExtensions]
GO
ALTER TABLE [dbo].[Carriers] ADD  CONSTRAINT [DF_Carriers_CreatedBy]  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Carriers] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Carriers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CarrierTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CarrierTypes] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CarrierTypes] ADD  CONSTRAINT [DF_CarrierTypes_Weight]  DEFAULT ((0)) FOR [Weight]
GO
ALTER TABLE [dbo].[CarrierTypes] ADD  CONSTRAINT [DF_CarrierTypes_ShelfWeight]  DEFAULT ((0)) FOR [ShelfWeight]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Colors] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Colors] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Countries] ADD  CONSTRAINT [DF_Countries_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Cultivations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Growers] ADD  CONSTRAINT [DF_Growers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT (suser_sname()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InvoiceItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InvoiceParties] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InvoiceParties] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (sysutcdatetime()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [TotalStorageCost]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [TotalTransportCost]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_TotalGross]  DEFAULT ((0)) FOR [TotalGross]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_TotalTax]  DEFAULT ((0)) FOR [TotalTax]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [TotalNet]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [StorageCost]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [TransportCost]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [IsScanned]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [PreparationDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [ShipmentDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [DeliveryDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaymentMethods] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PaymentMethods] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Potsize]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Qualities] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Qualities] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockMovements] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StockMovements] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TrayTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TrayTypes] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TrayTypes] ADD  CONSTRAINT [DF_Products_FittingPotSize]  DEFAULT ((0)) FOR [FittingPotSize]
GO
ALTER TABLE [dbo].[TrayTypes] ADD  CONSTRAINT [DF_Products_PlantsPerTray]  DEFAULT ((1)) FOR [QtyPerTray]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Countries]
GO
ALTER TABLE [dbo].[Carriers]  WITH CHECK ADD  CONSTRAINT [FK_Carriers_CarrierTypes] FOREIGN KEY([CarrierTypeId])
REFERENCES [dbo].[CarrierTypes] ([CarrierTypeId])
GO
ALTER TABLE [dbo].[Carriers] CHECK CONSTRAINT [FK_Carriers_CarrierTypes]
GO
ALTER TABLE [dbo].[Carriers]  WITH CHECK ADD  CONSTRAINT [FK_Carriers_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carriers] CHECK CONSTRAINT [FK_Carriers_Orders]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Addresses] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([AddressId])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Addresses]
GO
ALTER TABLE [dbo].[GrowerCultivations]  WITH CHECK ADD  CONSTRAINT [FK_GC_Cultivations] FOREIGN KEY([CultivationId])
REFERENCES [dbo].[Cultivations] ([CultivationId])
GO
ALTER TABLE [dbo].[GrowerCultivations] CHECK CONSTRAINT [FK_GC_Cultivations]
GO
ALTER TABLE [dbo].[GrowerCultivations]  WITH CHECK ADD  CONSTRAINT [FK_GC_Growers] FOREIGN KEY([GrowerId])
REFERENCES [dbo].[Growers] ([GrowerId])
GO
ALTER TABLE [dbo].[GrowerCultivations] CHECK CONSTRAINT [FK_GC_Growers]
GO
ALTER TABLE [dbo].[Growers]  WITH CHECK ADD  CONSTRAINT [FK_Growers_Addresses] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([AddressId])
GO
ALTER TABLE [dbo].[Growers] CHECK CONSTRAINT [FK_Growers_Addresses]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_Invoices]
GO
ALTER TABLE [dbo].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceItems_OrderItems] FOREIGN KEY([SourceOrderItemId])
REFERENCES [dbo].[OrderItems] ([OrderItemId])
GO
ALTER TABLE [dbo].[InvoiceItems] CHECK CONSTRAINT [FK_InvoiceItems_OrderItems]
GO
ALTER TABLE [dbo].[InvoiceParties]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceParties_Invoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceParties] CHECK CONSTRAINT [FK_InvoiceParties_Invoices]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_PaymentMethods] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_PaymentMethods]
GO
ALTER TABLE [dbo].[OrderItemCarriers]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemCarriers_Carriers] FOREIGN KEY([CarrierId])
REFERENCES [dbo].[Carriers] ([CarrierId])
GO
ALTER TABLE [dbo].[OrderItemCarriers] CHECK CONSTRAINT [FK_OrderItemCarriers_Carriers]
GO
ALTER TABLE [dbo].[OrderItemCarriers]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemCarriers_OrderItems] FOREIGN KEY([OrderItemId])
REFERENCES [dbo].[OrderItems] ([OrderItemId])
GO
ALTER TABLE [dbo].[OrderItemCarriers] CHECK CONSTRAINT [FK_OrderItemCarriers_OrderItems]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_StockItems] FOREIGN KEY([StockItemId])
REFERENCES [dbo].[StockItems] ([StockItemId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_StockItems]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Addresses] FOREIGN KEY([DeliveryAddressId])
REFERENCES [dbo].[Addresses] ([AddressId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Addresses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_CarrierTypes] FOREIGN KEY([CarrierTypeId])
REFERENCES [dbo].[CarrierTypes] ([CarrierTypeId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_CarrierTypes]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Colors] FOREIGN KEY([ColorId])
REFERENCES [dbo].[Colors] ([ColorId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Colors]
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD  CONSTRAINT [FK_StockItems_Growers] FOREIGN KEY([GrowerId])
REFERENCES [dbo].[Growers] ([GrowerId])
GO
ALTER TABLE [dbo].[StockItems] CHECK CONSTRAINT [FK_StockItems_Growers]
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD  CONSTRAINT [FK_StockItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[StockItems] CHECK CONSTRAINT [FK_StockItems_Products]
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD  CONSTRAINT [FK_StockItems_Qualities] FOREIGN KEY([QualityId])
REFERENCES [dbo].[Qualities] ([QualityId])
GO
ALTER TABLE [dbo].[StockItems] CHECK CONSTRAINT [FK_StockItems_Qualities]
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD  CONSTRAINT [FK_StockItems_TrayTypes] FOREIGN KEY([TrayTypeId])
REFERENCES [dbo].[TrayTypes] ([TrayTypeId])
GO
ALTER TABLE [dbo].[StockItems] CHECK CONSTRAINT [FK_StockItems_TrayTypes]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_StockMovements_OrderItems] FOREIGN KEY([OrderItemId])
REFERENCES [dbo].[OrderItems] ([OrderItemId])
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_StockMovements_OrderItems]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_StockMovements_StockItems] FOREIGN KEY([StockItemId])
REFERENCES [dbo].[StockItems] ([StockItemId])
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_StockMovements_StockItems]
GO
/****** Object:  Trigger [dbo].[trg_Addresses_Insert]    Script Date: 14-4-2026 22:48:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Addresses_Insert]  ON [dbo].[Addresses]
AFTER INSERT
AS
BEGIN
UPDATE Addresses
SET CreatedAt = SYSUTCDATETIME(),
CreatedBy = SUSER_SNAME()
FROM Addresses AS A
INNER JOIN inserted i ON A.AddressId = i.AddressId;
END;
GO
ALTER TABLE [dbo].[Addresses] ENABLE TRIGGER [trg_Addresses_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Addresses_Update]    Script Date: 14-4-2026 22:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Addresses_Update]  ON [dbo].[Addresses]
AFTER UPDATE
AS
BEGIN
UPDATE Addresses
SET UpdatedAt = SYSUTCDATETIME(),
UpdatedBy = SUSER_SNAME()
FROM Addresses A
INNER JOIN inserted i ON A.AddressId = i.AddressId;
END;
GO
ALTER TABLE [dbo].[Addresses] ENABLE TRIGGER [trg_Addresses_Update]
GO
/****** Object:  Trigger [dbo].[TR_Carriers_Insert]    Script Date: 14-4-2026 22:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_Carriers_Insert]  ON [dbo].[Carriers] 
AFTER INSERT  
AS
BEGIN  
SET NOCOUNT ON;    
UPDATE c    
SET        
CreatedAt = ISNULL(c.CreatedAt, SYSDATETIME()), 
CreatedBy = ISNULL(c.CreatedBy, SUSER_SNAME())  
FROM dbo.Carriers c   
INNER JOIN inserted i     
ON c.CarrierId = i.CarrierId; 
END;  
GO
ALTER TABLE [dbo].[Carriers] ENABLE TRIGGER [TR_Carriers_Insert]
GO
/****** Object:  Trigger [dbo].[TR_Carriers_Update]    Script Date: 14-4-2026 22:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_Carriers_Update]  ON [dbo].[Carriers] 
AFTER UPDATE 
AS 
BEGIN 
SET NOCOUNT ON;      
UPDATE c   
SET         
UpdatedAt = SYSDATETIME(),  
UpdatedBy = SUSER_SNAME() 
FROM dbo.Carriers c     
INNER JOIN inserted i     
ON c.CarrierId = i.CarrierId   
INNER JOIN deleted d       
ON d.CarrierId = c.CarrierId  
END;  
GO
ALTER TABLE [dbo].[Carriers] ENABLE TRIGGER [TR_Carriers_Update]
GO
/****** Object:  Trigger [dbo].[trg_CarrierTypes_Insert]    Script Date: 14-4-2026 22:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CarrierTypes_Insert]  ON [dbo].[CarrierTypes]
AFTER INSERT
AS
BEGIN
UPDATE C
SET CreatedAt = SYSUTCDATETIME(),
CreatedBy = SUSER_SNAME()
FROM CarrierTypes C
INNER JOIN inserted i ON C.CarrierTypeId = i.CarrierTypeId;
END;
GO
ALTER TABLE [dbo].[CarrierTypes] ENABLE TRIGGER [trg_CarrierTypes_Insert]
GO
/****** Object:  Trigger [dbo].[trg_CarrierTypes_Update]    Script Date: 14-4-2026 22:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CarrierTypes_Update]  ON [dbo].[CarrierTypes]
AFTER UPDATE
AS
BEGIN
UPDATE C
SET UpdatedAt = SYSUTCDATETIME(),
UpdatedBy = SUSER_SNAME()
FROM CarrierTypes C
INNER JOIN inserted i ON C.CarrierTypeId = i.CarrierTypeId;
END;
GO
ALTER TABLE [dbo].[CarrierTypes] ENABLE TRIGGER [trg_CarrierTypes_Update]
GO
/****** Object:  Trigger [dbo].[trg_Categories_Insert]    Script Date: 14-4-2026 22:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Categories_Insert]  ON [dbo].[Categories]
AFTER INSERT
AS
BEGIN
UPDATE C
SET CreatedAt = SYSUTCDATETIME(),
CreatedBy = SUSER_SNAME()      
FROM Categories C
INNER JOIN inserted i ON C.CategoryId = i.CategoryId;
END;
GO
ALTER TABLE [dbo].[Categories] ENABLE TRIGGER [trg_Categories_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Categories_Update]    Script Date: 14-4-2026 22:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Categories_Update]  ON [dbo].[Categories]
AFTER UPDATE
AS
BEGIN
UPDATE C 
SET UpdatedAt = SYSUTCDATETIME(),
UpdatedBy = SUSER_SNAME()
FROM Categories C
INNER JOIN inserted i ON C.CategoryId = i.CategoryId;
END;
GO
ALTER TABLE [dbo].[Categories] ENABLE TRIGGER [trg_Categories_Update]
GO
/****** Object:  Trigger [dbo].[trg_Clients_Insert]    Script Date: 14-4-2026 22:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Clients_Insert]  ON [dbo].[Clients]
AFTER INSERT
AS
BEGIN
UPDATE C
SET CreatedAt = SYSUTCDATETIME(),
CreatedBy = SUSER_SNAME()
FROM Clients C
INNER JOIN inserted i ON C.ClientId = i.ClientId;
END;
GO
ALTER TABLE [dbo].[Clients] ENABLE TRIGGER [trg_Clients_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Clients_Update]    Script Date: 14-4-2026 22:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Clients_Update]  ON [dbo].[Clients]
AFTER UPDATE
AS
BEGIN
UPDATE C
SET UpdatedAt = SYSUTCDATETIME(),
UpdatedBy = SUSER_SNAME()
FROM Clients C
INNER JOIN inserted i ON C.ClientId = i.ClientId;
END;
GO
ALTER TABLE [dbo].[Clients] ENABLE TRIGGER [trg_Clients_Update]
GO
/****** Object:  Trigger [dbo].[trg_Colors_Insert]    Script Date: 14-4-2026 22:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Colors_Insert]  ON [dbo].[Colors]
AFTER INSERT
AS
BEGIN
UPDATE C
SET CreatedAt = SYSUTCDATETIME(),
CreatedBy = SUSER_SNAME()
FROM Colors C
INNER JOIN inserted i ON C.ColorId = i.ColorId;
END;
GO
ALTER TABLE [dbo].[Colors] ENABLE TRIGGER [trg_Colors_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Colors_Update]    Script Date: 14-4-2026 22:48:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Colors_Update]  ON [dbo].[Colors]
AFTER UPDATE
AS
BEGIN
UPDATE C
SET UpdatedAt = SYSUTCDATETIME(),
UpdatedBy = SUSER_SNAME()
FROM Colors C
INNER JOIN inserted i ON C.ColorId = i.ColorId;
END;
GO
ALTER TABLE [dbo].[Colors] ENABLE TRIGGER [trg_Colors_Update]
GO
/****** Object:  Trigger [dbo].[trg_Countries_Insert]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Countries_Insert]  ON [dbo].[Countries]
AFTER INSERT
AS
BEGIN
UPDATE Countries
SET CreatedAt = SYSUTCDATETIME(),
CreatedBy = SUSER_SNAME()
FROM Countries AS C
INNER JOIN inserted i ON C.CountryId = i.CountryId;
END;
GO
ALTER TABLE [dbo].[Countries] ENABLE TRIGGER [trg_Countries_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Countries_Update]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Countries_Update]  ON [dbo].[Countries]
AFTER UPDATE
AS
BEGIN
UPDATE Countries
SET UpdatedAt = SYSUTCDATETIME(),
UpdatedBy = SUSER_SNAME()
FROM Countries A
INNER JOIN inserted i ON A.CountryId = i.CountryId;
END;
GO
ALTER TABLE [dbo].[Countries] ENABLE TRIGGER [trg_Countries_Update]
GO
/****** Object:  Trigger [dbo].[trg_Growers_Insert]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Growers_Insert]  ON [dbo].[Growers]
AFTER INSERT
AS
BEGIN
UPDATE G
SET CreatedAt = SYSUTCDATETIME(),
CreatedBy = SUSER_SNAME()
FROM Growers G
INNER JOIN inserted i ON G.GrowerId = i.GrowerId;
END;
GO
ALTER TABLE [dbo].[Growers] ENABLE TRIGGER [trg_Growers_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Growers_Update]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Growers_Update]  ON [dbo].[Growers]
AFTER UPDATE
AS
BEGIN
UPDATE G
SET UpdatedAt = SYSUTCDATETIME(),
UpdatedBy = SUSER_SNAME()
FROM Growers G
INNER JOIN inserted i ON G.GrowerId = i.GrowerId;
END;
GO
ALTER TABLE [dbo].[Growers] ENABLE TRIGGER [trg_Growers_Update]
GO
/****** Object:  Trigger [dbo].[TR_InvoiceItems_Insert]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_InvoiceItems_Insert]  ON [dbo].[InvoiceItems]
AFTER INSERT
AS
BEGIN
SET NOCOUNT ON;    
UPDATE ii  
SET      
CreatedAt = ISNULL(ii.CreatedAt, SYSDATETIME()), 
CreatedBy = ISNULL(ii.CreatedBy, SUSER_SNAME()) 
FROM dbo.InvoiceItems ii    
INNER JOIN inserted ins ON ii.InvoiceItemId = ins.InvoiceItemId;
END;   
GO
ALTER TABLE [dbo].[InvoiceItems] ENABLE TRIGGER [TR_InvoiceItems_Insert]
GO
/****** Object:  Trigger [dbo].[TR_InvoiceItems_Update]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_InvoiceItems_Update]  ON [dbo].[InvoiceItems] 
AFTER UPDATE
AS 
BEGIN  
SET NOCOUNT ON;  
UPDATE ii   
SET        
UpdatedAt = SYSDATETIME(), 
UpdatedBy = ISNULL(ii.UpdatedBy, SUSER_SNAME())   
FROM dbo.InvoiceItems ii   
INNER JOIN inserted ins ON ii.InvoiceItemId = ins.InvoiceItemId;
END;  
GO
ALTER TABLE [dbo].[InvoiceItems] ENABLE TRIGGER [TR_InvoiceItems_Update]
GO
/****** Object:  Trigger [dbo].[TR_InvoiceParties_Insert]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_InvoiceParties_Insert]  ON [dbo].[InvoiceParties] 
AFTER INSERT 
AS 
BEGIN 
SET NOCOUNT ON;     
UPDATE ip     
SET         
CreatedAt = ISNULL(ip.CreatedAt, SYSDATETIME()),    
CreatedBy = ISNULL(ip.CreatedBy, SUSER_SNAME()) 
FROM dbo.InvoiceParties ip 
INNER JOIN inserted ins ON ip.InvoicePartyId = ins.InvoicePartyId;
END;
GO
ALTER TABLE [dbo].[InvoiceParties] ENABLE TRIGGER [TR_InvoiceParties_Insert]
GO
/****** Object:  Trigger [dbo].[TR_InvoiceParties_Update]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_InvoiceParties_Update]  ON [dbo].[InvoiceParties]  
AFTER UPDATE  
AS  
BEGIN 
SET NOCOUNT ON;  
UPDATE ip  
SET        
UpdatedAt = ISNULL(ip.UpdatedAt, SYSDATETIME()),  
UpdatedBy = ISNULL(ip.UpdatedBy, SUSER_SNAME())
FROM dbo.InvoiceParties ip  
INNER JOIN inserted ins ON ip.InvoicePartyId = ins.InvoicePartyId;
END;  
GO
ALTER TABLE [dbo].[InvoiceParties] ENABLE TRIGGER [TR_InvoiceParties_Update]
GO
/****** Object:  Trigger [dbo].[trg_Invoices_Insert]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Invoices_Insert]  ON [dbo].[Invoices]  AFTER INSERT
AS
BEGIN
UPDATE INV
SET CreatedAt = SYSUTCDATETIME(),
CreatedBy = SUSER_SNAME()
FROM Invoices INV
INNER JOIN inserted i ON INV.InvoiceId = i.InvoiceId;
END;
GO
ALTER TABLE [dbo].[Invoices] ENABLE TRIGGER [trg_Invoices_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Invoices_Update]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Invoices_Update]  ON [dbo].[Invoices]  AFTER UPDATE
AS
BEGIN
UPDATE INV
SET UpdatedAt = SYSUTCDATETIME(),
UpdatedBy = SUSER_SNAME()
FROM Invoices INV
INNER JOIN inserted i ON INV.InvoiceId = i.InvoiceId;
END;
GO
ALTER TABLE [dbo].[Invoices] ENABLE TRIGGER [trg_Invoices_Update]
GO
/****** Object:  Trigger [dbo].[trg_OrderItems_Insert]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_OrderItems_Insert]  ON [dbo].[OrderItems]  AFTER INSERT 
AS
BEGIN 
UPDATE OI 
SET CreatedAt = SYSUTCDATETIME(),
CreatedBy = SUSER_SNAME()
FROM OrderItems OI
INNER JOIN inserted i ON OI.OrderItemId = i.OrderItemId;
END

GO
ALTER TABLE [dbo].[OrderItems] ENABLE TRIGGER [trg_OrderItems_Insert]
GO
/****** Object:  Trigger [dbo].[trg_OrderItems_InternalNo]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_OrderItems_InternalNo]
ON [dbo].[OrderItems]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE OI
    SET InternalNo = ISNULL(M.MaxInternalNo, 0) + RN
    FROM OrderItems OI
    INNER JOIN
    (
        SELECT 
            i.OrderItemId,
            RN = ROW_NUMBER() OVER (PARTITION BY i.OrderId ORDER BY i.OrderItemId),
            i.OrderId
        FROM inserted i
    ) x ON OI.OrderItemId = x.OrderItemId
    LEFT JOIN
    (
        SELECT OrderId, MAX(InternalNo) AS MaxInternalNo
        FROM OrderItems
        WHERE InternalNo IS NOT NULL
        GROUP BY OrderId
    ) M ON M.OrderId = x.OrderId
END;
GO
ALTER TABLE [dbo].[OrderItems] ENABLE TRIGGER [trg_OrderItems_InternalNo]
GO
/****** Object:  Trigger [dbo].[trg_OrderItems_Update]    Script Date: 14-4-2026 22:48:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_OrderItems_Update]  ON [dbo].[OrderItems]  AFTER UPDATE
AS
BEGIN
UPDATE OI
SET UpdatedAt = SYSUTCDATETIME(),
UpdatedBy = SUSER_SNAME()
FROM OrderItems OI
INNER JOIN inserted i ON OI.OrderItemId = i.OrderItemId;
END;
GO
ALTER TABLE [dbo].[OrderItems] ENABLE TRIGGER [trg_OrderItems_Update]
GO
/****** Object:  Trigger [dbo].[trg_Orders_Insert]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Orders_Insert]  ON [dbo].[Orders]  AFTER INSERT
AS
BEGIN
UPDATE O
SET CreatedAt = SYSUTCDATETIME(),
CreatedBy = SUSER_SNAME()
FROM Orders O
INNER JOIN inserted i ON O.OrderId = i.OrderId;
END;
GO
ALTER TABLE [dbo].[Orders] ENABLE TRIGGER [trg_Orders_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Orders_Update]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Orders_Update]  ON [dbo].[Orders]  AFTER UPDATE
AS
BEGIN
UPDATE O
SET UpdatedAt = SYSUTCDATETIME(),
UpdatedBy = SUSER_SNAME()
FROM Orders O
INNER JOIN inserted i ON O.OrderId = i.OrderId;
END;
GO
ALTER TABLE [dbo].[Orders] ENABLE TRIGGER [trg_Orders_Update]
GO
/****** Object:  Trigger [dbo].[trg_PaymentMethods_Insert]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_PaymentMethods_Insert]  ON [dbo].[PaymentMethods]  AFTER INSERT
AS
BEGIN
UPDATE PM
SET CreatedAt = SYSUTCDATETIME(),
CreatedBy = SUSER_SNAME()
FROM PaymentMethods PM
INNER JOIN inserted i ON PM.PaymentMethodId = i.PaymentMethodId;
END;
GO
ALTER TABLE [dbo].[PaymentMethods] ENABLE TRIGGER [trg_PaymentMethods_Insert]
GO
/****** Object:  Trigger [dbo].[trg_PaymentMethods_Update]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_PaymentMethods_Update]  ON [dbo].[PaymentMethods]  AFTER UPDATE
AS
BEGIN
UPDATE PM
SET UpdatedAt = SYSUTCDATETIME(),
UpdatedBy = SUSER_SNAME()
FROM PaymentMethods PM
INNER JOIN inserted i ON PM.PaymentMethodId = i.PaymentMethodId;
END;
GO
ALTER TABLE [dbo].[PaymentMethods] ENABLE TRIGGER [trg_PaymentMethods_Update]
GO
/****** Object:  Trigger [dbo].[trg_Products_Insert]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Products_Insert]  ON [dbo].[Products]  
AFTER INSERT 
AS
BEGIN   
UPDATE P  
SET CreatedAt = SYSUTCDATETIME(),   
CreatedBy = SUSER_SNAME()   
FROM Products P   
INNER JOIN inserted i ON P.ProductId = i.ProductId; 
END;  
GO
ALTER TABLE [dbo].[Products] ENABLE TRIGGER [trg_Products_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Products_Update]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Products_Update]  ON [dbo].[Products]  
AFTER UPDATE 
AS 
BEGIN   
UPDATE P   
SET UpdatedAt = SYSUTCDATETIME(),  
UpdatedBy = SUSER_SNAME()  
FROM Products P     
INNER JOIN inserted i ON P.ProductId = i.ProductId; 
END;  
GO
ALTER TABLE [dbo].[Products] ENABLE TRIGGER [trg_Products_Update]
GO
/****** Object:  Trigger [dbo].[trg_Qualities_Insert]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Qualities_Insert]  ON [dbo].[Qualities]
AFTER INSERT
AS
BEGIN
UPDATE Q 
SET CreatedAt = SYSUTCDATETIME(), 
CreatedBy = SUSER_SNAME() 
FROM Qualities Q      INNER JOIN inserted i ON Q.QualityId = i.QualityId;
END;
GO
ALTER TABLE [dbo].[Qualities] ENABLE TRIGGER [trg_Qualities_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Qualities_Update]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Qualities_Update]  ON [dbo].[Qualities] 
AFTER UPDATE 
AS  
BEGIN   
UPDATE Q  
SET
UpdatedAt = SYSUTCDATETIME(),     
UpdatedBy = SUSER_SNAME()  
FROM Qualities Q     
INNER JOIN inserted i ON Q.QualityId = i.QualityId; 
END;   
GO
ALTER TABLE [dbo].[Qualities] ENABLE TRIGGER [trg_Qualities_Update]
GO
/****** Object:  Trigger [dbo].[trg_StockItems_Insert]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_StockItems_Insert]  ON [dbo].[StockItems]
AFTER INSERT
AS
BEGIN
UPDATE SI
SET CreatedAt = SYSUTCDATETIME(), 
CreatedBy = SUSER_SNAME() 
FROM StockItems SI      INNER JOIN inserted i ON SI.StockItemId = i.StockItemId;
END;
GO
ALTER TABLE [dbo].[StockItems] ENABLE TRIGGER [trg_StockItems_Insert]
GO
/****** Object:  Trigger [dbo].[TR_StockMovements_Insert]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_StockMovements_Insert]  ON [dbo].[StockMovements]
AFTER INSERT
AS
BEGIN
SET NOCOUNT ON;
UPDATE sm
SET
CreatedBy = SUSER_SNAME(),
CreatedAt = SYSUTCDATETIME()
FROM StockMovements sm
INNER JOIN inserted i ON sm.StockMovementId = i.StockMovementId;
END;
GO
ALTER TABLE [dbo].[StockMovements] ENABLE TRIGGER [TR_StockMovements_Insert]
GO
/****** Object:  Trigger [dbo].[TR_StockMovements_Update]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_StockMovements_Update]  ON [dbo].[StockMovements]
AFTER UPDATE
AS
BEGIN
SET NOCOUNT ON;
UPDATE sm
SET
UpdatedBy = SUSER_SNAME(),
UpdatedAt = SYSUTCDATETIME()
FROM StockMovements sm
INNER JOIN inserted i ON sm.StockMovementId = i.StockMovementId;
END;
GO
ALTER TABLE [dbo].[StockMovements] ENABLE TRIGGER [TR_StockMovements_Update]
GO
/****** Object:  Trigger [dbo].[trg_TrayTypes_Insert]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TrayTypes_Insert]  ON [dbo].[TrayTypes]
AFTER INSERT
AS
BEGIN
UPDATE T
SET CreatedAt = SYSUTCDATETIME(),
CreatedBy = SUSER_SNAME()
FROM TrayTypes T
INNER JOIN inserted i ON T.TrayTypeId = i.TrayTypeId;
END;
GO
ALTER TABLE [dbo].[TrayTypes] ENABLE TRIGGER [trg_TrayTypes_Insert]
GO
/****** Object:  Trigger [dbo].[trg_TrayTypes_Update]    Script Date: 14-4-2026 22:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TrayTypes_Update]  ON [dbo].[TrayTypes]
AFTER UPDATE
AS
BEGIN
UPDATE T
SET UpdatedAt = SYSUTCDATETIME(),
UpdatedBy = SUSER_SNAME()
FROM TrayTypes T
INNER JOIN inserted i ON T.TrayTypeId = i.TrayTypeId;
END;
GO
ALTER TABLE [dbo].[TrayTypes] ENABLE TRIGGER [trg_TrayTypes_Update]
GO
USE [master]
GO
