USE [Potplants]
GO
/****** Object:  Trigger [trg_TrayTypes_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_TrayTypes_Update]
GO
/****** Object:  Trigger [trg_TrayTypes_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_TrayTypes_Insert]
GO
/****** Object:  Trigger [TR_StockMovements_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[TR_StockMovements_Update]
GO
/****** Object:  Trigger [TR_StockMovements_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[TR_StockMovements_Insert]
GO
/****** Object:  Trigger [trg_Qualities_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Qualities_Update]
GO
/****** Object:  Trigger [trg_Qualities_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Qualities_Insert]
GO
/****** Object:  Trigger [trg_Products_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Products_Update]
GO
/****** Object:  Trigger [trg_Products_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Products_Insert]
GO
/****** Object:  Trigger [trg_PaymentMethods_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_PaymentMethods_Update]
GO
/****** Object:  Trigger [trg_PaymentMethods_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_PaymentMethods_Insert]
GO
/****** Object:  Trigger [trg_Orders_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Orders_Update]
GO
/****** Object:  Trigger [trg_Orders_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Orders_Insert]
GO
/****** Object:  Trigger [trg_OrderItems_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_OrderItems_Update]
GO
/****** Object:  Trigger [trg_OrderItems_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_OrderItems_Insert]
GO
/****** Object:  Trigger [trg_Invoices_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Invoices_Update]
GO
/****** Object:  Trigger [trg_Invoices_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Invoices_Insert]
GO
/****** Object:  Trigger [trg_Growers_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Growers_Update]
GO
/****** Object:  Trigger [trg_Growers_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Growers_Insert]
GO
/****** Object:  Trigger [trg_Countries_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Countries_Update]
GO
/****** Object:  Trigger [trg_Countries_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Countries_Insert]
GO
/****** Object:  Trigger [trg_Colors_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Colors_Update]
GO
/****** Object:  Trigger [trg_Colors_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Colors_Insert]
GO
/****** Object:  Trigger [trg_Clients_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Clients_Update]
GO
/****** Object:  Trigger [trg_Clients_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Clients_Insert]
GO
/****** Object:  Trigger [trg_Categories_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Categories_Update]
GO
/****** Object:  Trigger [trg_Categories_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Categories_Insert]
GO
/****** Object:  Trigger [trg_CarrierTypes_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_CarrierTypes_Update]
GO
/****** Object:  Trigger [trg_CarrierTypes_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_CarrierTypes_Insert]
GO
/****** Object:  Trigger [trg_Addresses_Update]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Addresses_Update]
GO
/****** Object:  Trigger [trg_Addresses_Insert]    Script Date: 11.12.2025 22:20:37 ******/
DROP TRIGGER [dbo].[trg_Addresses_Insert]
GO
ALTER TABLE [dbo].[StockMovements] DROP CONSTRAINT [FK_StockMovements_StockItems]
GO
ALTER TABLE [dbo].[StockMovements] DROP CONSTRAINT [FK_StockMovements_OrderItems]
GO
ALTER TABLE [dbo].[StockItems] DROP CONSTRAINT [FK_StockItems_TrayTypes]
GO
ALTER TABLE [dbo].[StockItems] DROP CONSTRAINT [FK_StockItems_Qualities]
GO
ALTER TABLE [dbo].[StockItems] DROP CONSTRAINT [FK_StockItems_Products]
GO
ALTER TABLE [dbo].[StockItems] DROP CONSTRAINT [FK_StockItems_Growers]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Colors]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_CarrierTypes]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_Addresses]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [FK_OrderItems_StockItems]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [FK_Invoices_PaymentMethods]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [FK_Invoices_Orders]
GO
ALTER TABLE [dbo].[Growers] DROP CONSTRAINT [FK_Growers_Addresses]
GO
ALTER TABLE [dbo].[GrowerCultivations] DROP CONSTRAINT [FK_GC_Growers]
GO
ALTER TABLE [dbo].[GrowerCultivations] DROP CONSTRAINT [FK_GC_Cultivations]
GO
ALTER TABLE [dbo].[Clients] DROP CONSTRAINT [FK_Clients_Addresses]
GO
ALTER TABLE [dbo].[Addresses] DROP CONSTRAINT [FK_Addresses_Countries]
GO
ALTER TABLE [dbo].[TrayTypes] DROP CONSTRAINT [DF_Products_PlantsPerTray]
GO
ALTER TABLE [dbo].[TrayTypes] DROP CONSTRAINT [DF_Products_FittingPotSize]
GO
ALTER TABLE [dbo].[TrayTypes] DROP CONSTRAINT [DF__TrayTypes__Creat__5535A963]
GO
ALTER TABLE [dbo].[TrayTypes] DROP CONSTRAINT [DF__TrayTypes__IsAct__5441852A]
GO
ALTER TABLE [dbo].[StockMovements] DROP CONSTRAINT [DF__StockMove__Creat__42E1EEFE]
GO
ALTER TABLE [dbo].[StockMovements] DROP CONSTRAINT [DF__StockMove__IsAct__41EDCAC5]
GO
ALTER TABLE [dbo].[Qualities] DROP CONSTRAINT [DF__Qualities__Creat__6E01572D]
GO
ALTER TABLE [dbo].[Qualities] DROP CONSTRAINT [DF__Qualities__IsAct__6D0D32F4]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Create__76969D2E]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__IsActi__75A278F5]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [DF__Products__Potsiz__72C60C4A]
GO
ALTER TABLE [dbo].[PaymentMethods] DROP CONSTRAINT [DF__PaymentMe__Creat__1BC821DD]
GO
ALTER TABLE [dbo].[PaymentMethods] DROP CONSTRAINT [DF__PaymentMe__IsAct__1AD3FDA4]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__CreatedA__06CD04F7]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__IsActive__05D8E0BE]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__TotalAmo__04E4BC85]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__Status__03F0984C]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__Delivery__02FC7413]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__Shipment__02084FDA]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__Preparat__01142BA1]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__OrderDat__00200768]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__Creat__114A936A]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__IsAct__10566F31]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__Disco__0F624AF8]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__Trans__0E6E26BF]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__Stora__0D7A0286]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__UnitP__0C85DE4D]
GO
ALTER TABLE [dbo].[OrderItems] DROP CONSTRAINT [DF__OrderItem__Quant__0B91BA14]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DF__Invoices__Create__2739D489]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DF__Invoices__IsActi__2645B050]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DF__Invoices__IsAppr__25518C17]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DF__Invoices__Status__245D67DE]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DF__Invoices__TotalT__236943A5]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DF__Invoices__TotalS__22751F6C]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DF__Invoices__TotalA__2180FB33]
GO
ALTER TABLE [dbo].[Invoices] DROP CONSTRAINT [DF__Invoices__Invoic__208CD6FA]
GO
ALTER TABLE [dbo].[Growers] DROP CONSTRAINT [DF_Growers_IsActive]
GO
ALTER TABLE [dbo].[Cultivations] DROP CONSTRAINT [DF__Cultivati__IsAct__44FF419A]
GO
ALTER TABLE [dbo].[Countries] DROP CONSTRAINT [DF_Countries_IsActive]
GO
ALTER TABLE [dbo].[Colors] DROP CONSTRAINT [DF__Colors__CreatedA__628FA481]
GO
ALTER TABLE [dbo].[Colors] DROP CONSTRAINT [DF__Colors__IsActive__619B8048]
GO
ALTER TABLE [dbo].[Clients] DROP CONSTRAINT [DF__Clients__Created__4E88ABD4]
GO
ALTER TABLE [dbo].[Clients] DROP CONSTRAINT [DF__Clients__IsActiv__4D94879B]
GO
ALTER TABLE [dbo].[Categories] DROP CONSTRAINT [DF__Categorie__Creat__68487DD7]
GO
ALTER TABLE [dbo].[Categories] DROP CONSTRAINT [DF__Categorie__IsAct__6754599E]
GO
ALTER TABLE [dbo].[CarrierTypes] DROP CONSTRAINT [DF__CarrierTy__Creat__5AEE82B9]
GO
ALTER TABLE [dbo].[CarrierTypes] DROP CONSTRAINT [DF__CarrierTy__IsAct__59FA5E80]
GO
/****** Object:  Table [dbo].[TrayTypes]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TrayTypes]') AND type in (N'U'))
DROP TABLE [dbo].[TrayTypes]
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StockMovements]') AND type in (N'U'))
DROP TABLE [dbo].[StockMovements]
GO
/****** Object:  Table [dbo].[StockItems]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StockItems]') AND type in (N'U'))
DROP TABLE [dbo].[StockItems]
GO
/****** Object:  Table [dbo].[Qualities]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Qualities]') AND type in (N'U'))
DROP TABLE [dbo].[Qualities]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PaymentMethods]') AND type in (N'U'))
DROP TABLE [dbo].[PaymentMethods]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItems]') AND type in (N'U'))
DROP TABLE [dbo].[OrderItems]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Invoices]') AND type in (N'U'))
DROP TABLE [dbo].[Invoices]
GO
/****** Object:  Table [dbo].[Growers]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Growers]') AND type in (N'U'))
DROP TABLE [dbo].[Growers]
GO
/****** Object:  Table [dbo].[GrowerCultivations]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GrowerCultivations]') AND type in (N'U'))
DROP TABLE [dbo].[GrowerCultivations]
GO
/****** Object:  Table [dbo].[Cultivations]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cultivations]') AND type in (N'U'))
DROP TABLE [dbo].[Cultivations]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Countries]') AND type in (N'U'))
DROP TABLE [dbo].[Countries]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Colors]') AND type in (N'U'))
DROP TABLE [dbo].[Colors]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Clients]') AND type in (N'U'))
DROP TABLE [dbo].[Clients]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categories]') AND type in (N'U'))
DROP TABLE [dbo].[Categories]
GO
/****** Object:  Table [dbo].[CarrierTypes]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CarrierTypes]') AND type in (N'U'))
DROP TABLE [dbo].[CarrierTypes]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 11.12.2025 22:20:37 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Addresses]') AND type in (N'U'))
DROP TABLE [dbo].[Addresses]
GO
USE [master]
GO
/****** Object:  Database [Potplants]    Script Date: 11.12.2025 22:20:37 ******/
DROP DATABASE [Potplants]
GO
/****** Object:  Database [Potplants]    Script Date: 11.12.2025 22:20:37 ******/
CREATE DATABASE [Potplants]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Potplants', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Potplants.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Potplants_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Potplants_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Potplants].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Potplants]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](100) NULL,
	[Street] [nvarchar](150) NULL,
	[HouseNumber] [nvarchar](20) NULL,
	[ApartmentNumber] [nvarchar](20) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[CountryId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarrierTypes]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarrierTypes](
	[CarrierTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Width] [decimal](6, 2) NULL,
	[Length] [decimal](6, 2) NULL,
	[MaxHeight] [decimal](6, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
	[Weight] [decimal](6, 2) NULL,
	[Area]  AS ([Width]*[Length]),
PRIMARY KEY CLUSTERED 
(
	[CarrierTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ClientCode] [nvarchar](20) NOT NULL,
	[ContactPerson] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[AddressId] [int] NOT NULL,
	[TaxId] [nvarchar](20) NULL,
	[RegistrationNo] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[ColorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ISO2Code] [nvarchar](2) NULL,
	[PhoneCode] [nvarchar](10) NULL,
	[Continent] [nvarchar](50) NULL,
	[IsEUMember] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cultivations]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cultivations](
	[CultivationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CultivationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GrowerCultivations]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrowerCultivations](
	[GrowerId] [int] NOT NULL,
	[CultivationId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GrowerId] ASC,
	[CultivationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Growers]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Growers](
	[GrowerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[ContactPerson] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[AddressId] [int] NULL,
	[TaxId] [nvarchar](20) NULL,
	[RegistrationNo] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_Growers] PRIMARY KEY CLUSTERED 
(
	[GrowerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[InvoiceNo] [nvarchar](50) NULL,
	[InvoiceDate] [datetime2](0) NOT NULL,
	[PaymentDate] [datetime2](0) NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[TotalStorageCost] [decimal](12, 2) NOT NULL,
	[TotalTransportCost] [decimal](12, 2) NOT NULL,
	[PaymentMethodId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[StorageCost] [decimal](10, 2) NOT NULL,
	[TransportCost] [decimal](10, 2) NOT NULL,
	[Discount] [decimal](5, 2) NOT NULL,
	[TotalPrice]  AS (([Quantity]*[UnitPrice])*((1)-[Discount]/(100))) PERSISTED,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
	[InternalNo] [nvarchar](50) NULL,
	[OrderedDate] [datetime2](0) NULL,
	[DeliveredDate] [datetime2](0) NULL,
	[StockItemId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[OrderDate] [datetime2](0) NOT NULL,
	[PreparationDate] [datetime2](0) NOT NULL,
	[ShipmentDate] [datetime2](0) NOT NULL,
	[DeliveryDate] [datetime2](0) NOT NULL,
	[DeliveryAddressId] [int] NOT NULL,
	[SalesPerson] [nvarchar](150) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](12, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
	[CarrierTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[ColorId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Height] [decimal](6, 2) NULL,
	[Potsize] [decimal](5, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](max) NULL,
	[IsCites] [bit] NULL,
	[Weight] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualities]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualities](
	[QualityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[QualityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockItems]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockItems](
	[StockItemId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[GrowerId] [int] NULL,
	[TrayTypeId] [int] NULL,
	[QualityId] [int] NULL,
	[CostPrice] [decimal](10, 2) NULL,
	[InternalNo] [varchar](50) NULL,
	[IsBlocked] [bit] NULL,
	[IsInside] [bit] NULL,
	[FlowType] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[Remarks] [nvarchar](500) NULL,
 CONSTRAINT [PK_StockItems] PRIMARY KEY CLUSTERED 
(
	[StockItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovements](
	[StockMovementId] [int] IDENTITY(1,1) NOT NULL,
	[StockItemId] [int] NOT NULL,
	[OrderItemId] [int] NULL,
	[MovementType] [nvarchar](20) NOT NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[StockBefore] [decimal](10, 2) NOT NULL,
	[StockAfter] [decimal](10, 2) NOT NULL,
	[MovementDate] [datetime2](0) NOT NULL,
	[Reference] [nvarchar](50) NULL,
	[Remarks] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RemovedBy] [nvarchar](100) NULL,
	[RemovedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockMovementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrayTypes]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrayTypes](
	[TrayTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[Width] [decimal](6, 2) NULL,
	[Length] [decimal](6, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[DeletedAt] [datetime2](0) NULL,
	[DeletedBy] [nvarchar](100) NULL,
	[Remarks] [nvarchar](500) NULL,
	[FittingPotSize] [decimal](5, 2) NULL,
	[QtyPerTray] [int] NULL,
	[Area]  AS (case when [Width] IS NOT NULL AND [Length] IS NOT NULL then [Width]*[Length]  end),
PRIMARY KEY CLUSTERED 
(
	[TrayTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([AddressId], [City], [Street], [HouseNumber], [ApartmentNumber], [ZipCode], [CountryId], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [DeletedBy], [DeletedAt], [Remarks]) VALUES (1, N'Den Haag', N'Teststraat', N'1', N'1', N'1111XX', 5, 1, N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-30T13:25:19.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-30T13:25:19.0000000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Addresses] ([AddressId], [City], [Street], [HouseNumber], [ApartmentNumber], [ZipCode], [CountryId], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [DeletedBy], [DeletedAt], [Remarks]) VALUES (2, N'Den Haag', N'Acaciastraat', N'178', N'12', N'2565KH', 5, 1, N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-12-09T20:43:27.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-12-09T20:43:27.0000000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Addresses] ([AddressId], [City], [Street], [HouseNumber], [ApartmentNumber], [ZipCode], [CountryId], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [DeletedBy], [DeletedAt], [Remarks]) VALUES (3, N'Testcity', N'Teststreet', N'22', NULL, N'0123AB', 1, 1, N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-12-10T19:59:39.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-12-10T19:59:39.0000000' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[CarrierTypes] ON 

INSERT [dbo].[CarrierTypes] ([CarrierTypeId], [Name], [Width], [Length], [MaxHeight], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks], [Weight]) VALUES (2, N'EuroLarge', CAST(50.00 AS Decimal(6, 2)), CAST(160.00 AS Decimal(6, 2)), CAST(260.00 AS Decimal(6, 2)), 1, CAST(N'2025-11-23T13:33:30.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:33:30.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL, NULL)
INSERT [dbo].[CarrierTypes] ([CarrierTypeId], [Name], [Width], [Length], [MaxHeight], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks], [Weight]) VALUES (3, N'EuroSmall', CAST(50.00 AS Decimal(6, 2)), CAST(80.00 AS Decimal(6, 2)), CAST(260.00 AS Decimal(6, 2)), 1, CAST(N'2025-11-23T13:34:18.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:34:18.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL, NULL)
INSERT [dbo].[CarrierTypes] ([CarrierTypeId], [Name], [Width], [Length], [MaxHeight], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks], [Weight]) VALUES (4, N'Test', CAST(3.00 AS Decimal(6, 2)), CAST(4.00 AS Decimal(6, 2)), CAST(5.00 AS Decimal(6, 2)), 1, CAST(N'2025-11-28T21:50:29.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-28T21:50:29.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, N'Peanut butter', CAST(13.00 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[CarrierTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [Name], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks]) VALUES (1, N'Orchids', 1, CAST(N'2025-11-23T13:35:18.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:42:34.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, N'')
INSERT [dbo].[Categories] ([CategoryId], [Name], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks]) VALUES (2, N'Green plants', 1, CAST(N'2025-11-23T13:35:35.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:42:39.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, N'')
INSERT [dbo].[Categories] ([CategoryId], [Name], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks]) VALUES (3, N'Succulents', 1, CAST(N'2025-11-23T13:35:49.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:42:42.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, N'')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [Name], [ClientCode], [ContactPerson], [Phone], [Email], [AddressId], [TaxId], [RegistrationNo], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks]) VALUES (2, N'Test Client2', N'T2', N'Test Guy', N'0123456789', N'test@test.com', 1, N'000111222', N'999888777', 1, CAST(N'2025-12-10T19:48:23.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-12-10T19:48:23.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, N'This is another test client.')
INSERT [dbo].[Clients] ([ClientId], [Name], [ClientCode], [ContactPerson], [Phone], [Email], [AddressId], [TaxId], [RegistrationNo], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks]) VALUES (3, N'Test Client1', N'TC1', N'Test Person', N'111222333', N'test1@test1.pl', 3, N'0123456789', N'9876543210', 1, CAST(N'2025-12-10T19:59:39.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-12-10T19:59:39.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, N'This is a test client.')
INSERT [dbo].[Clients] ([ClientId], [Name], [ClientCode], [ContactPerson], [Phone], [Email], [AddressId], [TaxId], [RegistrationNo], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks]) VALUES (4, N'Test Client3', N'TC3', N'Test Woman', N'852741963', N'test3@test3.nl', 1, N'01234560123', N'1237890456', 1, CAST(N'2025-12-10T20:01:48.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-12-10T20:01:48.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, N'Test3')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([ColorId], [Name], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks]) VALUES (1, N'Red', 1, CAST(N'2025-11-23T13:36:22.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:36:22.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL)
INSERT [dbo].[Colors] ([ColorId], [Name], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks]) VALUES (2, N'Blue', 1, CAST(N'2025-11-23T13:36:26.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:36:26.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL)
INSERT [dbo].[Colors] ([ColorId], [Name], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks]) VALUES (3, N'Green', 1, CAST(N'2025-11-23T13:36:30.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:36:30.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [Name], [ISO2Code], [PhoneCode], [Continent], [IsEUMember], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [DeletedBy], [DeletedAt], [Remarks]) VALUES (1, N'Poland', N'PL', N'+48', N'Europe', 1, 1, N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:37:39.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:37:39.0000000' AS DateTime2), NULL, NULL, N'')
INSERT [dbo].[Countries] ([CountryId], [Name], [ISO2Code], [PhoneCode], [Continent], [IsEUMember], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [DeletedBy], [DeletedAt], [Remarks]) VALUES (2, N'Germany', N'DE', N'+49', N'Europe', 1, 1, N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:38:13.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:38:13.0000000' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Countries] ([CountryId], [Name], [ISO2Code], [PhoneCode], [Continent], [IsEUMember], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [DeletedBy], [DeletedAt], [Remarks]) VALUES (3, N'United States', N'US', N'+1', N'North America', 0, 1, N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:39:05.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:39:05.0000000' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[Cultivations] ON 

INSERT [dbo].[Cultivations] ([CultivationId], [Name], [Description], [IsActive]) VALUES (1, N'Phalaenopsis', N'Orchid', 1)
INSERT [dbo].[Cultivations] ([CultivationId], [Name], [Description], [IsActive]) VALUES (2, N'Cymbidium', N'Orchid', 1)
INSERT [dbo].[Cultivations] ([CultivationId], [Name], [Description], [IsActive]) VALUES (3, N'Ficus', N'Green plant', 1)
SET IDENTITY_INSERT [dbo].[Cultivations] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [Name], [Description], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy]) VALUES (1, N'Cash', N'', 1, CAST(N'2025-11-23T13:41:03.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:41:03.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL)
INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [Name], [Description], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy]) VALUES (2, N'Bank Transfer', NULL, 1, CAST(N'2025-11-23T13:41:52.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:41:52.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL)
INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [Name], [Description], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy]) VALUES (3, N'Card', NULL, 1, CAST(N'2025-11-23T13:42:09.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:42:09.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL)
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [ColorId], [CategoryId], [Height], [Potsize], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks], [IsCites], [Weight]) VALUES (7, N'Cycas Revoluta', 3, 4, CAST(45.00 AS Decimal(6, 2)), CAST(13.00 AS Decimal(5, 2)), 1, CAST(N'2025-11-28T21:35:08.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-28T21:35:08.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL, 1, CAST(0.40 AS Decimal(5, 2)))
INSERT [dbo].[Products] ([ProductId], [Name], [ColorId], [CategoryId], [Height], [Potsize], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks], [IsCites], [Weight]) VALUES (14, N'Pteris Vittata', 3, 16, CAST(50.00 AS Decimal(6, 2)), CAST(13.00 AS Decimal(5, 2)), 1, CAST(N'2025-11-30T19:43:37.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-30T19:43:37.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL, 0, CAST(0.50 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Qualities] ON 

INSERT [dbo].[Qualities] ([QualityId], [Name], [Description], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks]) VALUES (1, N'A1', N'Top quality', 1, CAST(N'2025-11-23T13:42:57.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:42:57.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL)
INSERT [dbo].[Qualities] ([QualityId], [Name], [Description], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks]) VALUES (2, N'A2', N'Very good quality', 1, CAST(N'2025-11-23T13:43:05.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:43:05.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL)
INSERT [dbo].[Qualities] ([QualityId], [Name], [Description], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks]) VALUES (3, N'A3', N'Good quality', 1, CAST(N'2025-11-23T13:43:13.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:43:13.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Qualities] OFF
GO
SET IDENTITY_INSERT [dbo].[TrayTypes] ON 

INSERT [dbo].[TrayTypes] ([TrayTypeId], [Name], [Width], [Length], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks], [FittingPotSize], [QtyPerTray]) VALUES (1, N'408', CAST(50.00 AS Decimal(6, 2)), CAST(32.00 AS Decimal(6, 2)), 1, CAST(N'2025-11-23T13:44:27.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:44:27.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL, CAST(12.00 AS Decimal(5, 2)), 8)
INSERT [dbo].[TrayTypes] ([TrayTypeId], [Name], [Width], [Length], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks], [FittingPotSize], [QtyPerTray]) VALUES (2, N'409', CAST(50.00 AS Decimal(6, 2)), CAST(32.00 AS Decimal(6, 2)), 1, CAST(N'2025-11-23T13:44:54.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:44:54.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL, CAST(11.00 AS Decimal(5, 2)), 9)
INSERT [dbo].[TrayTypes] ([TrayTypeId], [Name], [Width], [Length], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [UpdatedBy], [DeletedAt], [DeletedBy], [Remarks], [FittingPotSize], [QtyPerTray]) VALUES (4, N'306', CAST(50.00 AS Decimal(6, 2)), CAST(40.00 AS Decimal(6, 2)), 1, CAST(N'2025-11-23T13:45:18.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', CAST(N'2025-11-23T13:45:18.0000000' AS DateTime2), N'DESKTOP-6EG06PB\ptsiw', NULL, NULL, NULL, CAST(17.00 AS Decimal(5, 2)), 6)
SET IDENTITY_INSERT [dbo].[TrayTypes] OFF
GO
ALTER TABLE [dbo].[CarrierTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CarrierTypes] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Colors] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Colors] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Countries] ADD  CONSTRAINT [DF_Countries_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Cultivations] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Growers] ADD  CONSTRAINT [DF_Growers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (sysutcdatetime()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [TotalStorageCost]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [TotalTransportCost]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [StorageCost]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [TransportCost]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OrderItems] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [PreparationDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [ShipmentDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [DeliveryDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaymentMethods] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PaymentMethods] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Potsize]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Qualities] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Qualities] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockMovements] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StockMovements] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TrayTypes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TrayTypes] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TrayTypes] ADD  CONSTRAINT [DF_Products_FittingPotSize]  DEFAULT ((0)) FOR [FittingPotSize]
GO
ALTER TABLE [dbo].[TrayTypes] ADD  CONSTRAINT [DF_Products_PlantsPerTray]  DEFAULT ((1)) FOR [QtyPerTray]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Countries]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Addresses] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([AddressId])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Addresses]
GO
ALTER TABLE [dbo].[GrowerCultivations]  WITH CHECK ADD  CONSTRAINT [FK_GC_Cultivations] FOREIGN KEY([CultivationId])
REFERENCES [dbo].[Cultivations] ([CultivationId])
GO
ALTER TABLE [dbo].[GrowerCultivations] CHECK CONSTRAINT [FK_GC_Cultivations]
GO
ALTER TABLE [dbo].[GrowerCultivations]  WITH CHECK ADD  CONSTRAINT [FK_GC_Growers] FOREIGN KEY([GrowerId])
REFERENCES [dbo].[Growers] ([GrowerId])
GO
ALTER TABLE [dbo].[GrowerCultivations] CHECK CONSTRAINT [FK_GC_Growers]
GO
ALTER TABLE [dbo].[Growers]  WITH CHECK ADD  CONSTRAINT [FK_Growers_Addresses] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([AddressId])
GO
ALTER TABLE [dbo].[Growers] CHECK CONSTRAINT [FK_Growers_Addresses]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Orders]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_PaymentMethods] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_PaymentMethods]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_StockItems] FOREIGN KEY([StockItemId])
REFERENCES [dbo].[StockItems] ([StockItemId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_StockItems]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Addresses] FOREIGN KEY([DeliveryAddressId])
REFERENCES [dbo].[Addresses] ([AddressId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Addresses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_CarrierTypes] FOREIGN KEY([CarrierTypeId])
REFERENCES [dbo].[CarrierTypes] ([CarrierTypeId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_CarrierTypes]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Colors] FOREIGN KEY([ColorId])
REFERENCES [dbo].[Colors] ([ColorId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Colors]
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD  CONSTRAINT [FK_StockItems_Growers] FOREIGN KEY([GrowerId])
REFERENCES [dbo].[Growers] ([GrowerId])
GO
ALTER TABLE [dbo].[StockItems] CHECK CONSTRAINT [FK_StockItems_Growers]
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD  CONSTRAINT [FK_StockItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[StockItems] CHECK CONSTRAINT [FK_StockItems_Products]
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD  CONSTRAINT [FK_StockItems_Qualities] FOREIGN KEY([QualityId])
REFERENCES [dbo].[Qualities] ([QualityId])
GO
ALTER TABLE [dbo].[StockItems] CHECK CONSTRAINT [FK_StockItems_Qualities]
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD  CONSTRAINT [FK_StockItems_TrayTypes] FOREIGN KEY([TrayTypeId])
REFERENCES [dbo].[TrayTypes] ([TrayTypeId])
GO
ALTER TABLE [dbo].[StockItems] CHECK CONSTRAINT [FK_StockItems_TrayTypes]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_StockMovements_OrderItems] FOREIGN KEY([OrderItemId])
REFERENCES [dbo].[OrderItems] ([OrderItemId])
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_StockMovements_OrderItems]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_StockMovements_StockItems] FOREIGN KEY([StockItemId])
REFERENCES [dbo].[StockItems] ([StockItemId])
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_StockMovements_StockItems]
GO
/****** Object:  Trigger [dbo].[trg_Addresses_Insert]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Addresses_Insert]
ON [dbo].[Addresses]
AFTER INSERT
AS
BEGIN
    UPDATE Addresses
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM Addresses AS A
    INNER JOIN inserted i ON A.AddressId = i.AddressId;
END
GO
ALTER TABLE [dbo].[Addresses] ENABLE TRIGGER [trg_Addresses_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Addresses_Update]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Addresses_Update]
ON [dbo].[Addresses]
AFTER UPDATE
AS
BEGIN
    UPDATE Addresses
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM Addresses A
    INNER JOIN inserted i ON A.AddressId = i.AddressId;
END
GO
ALTER TABLE [dbo].[Addresses] ENABLE TRIGGER [trg_Addresses_Update]
GO
/****** Object:  Trigger [dbo].[trg_CarrierTypes_Insert]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CarrierTypes_Insert]
ON [dbo].[CarrierTypes]
AFTER INSERT
AS
BEGIN
    UPDATE C
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM CarrierTypes C
    INNER JOIN inserted i ON C.CarrierTypeId = i.CarrierTypeId;
END
GO
ALTER TABLE [dbo].[CarrierTypes] ENABLE TRIGGER [trg_CarrierTypes_Insert]
GO
/****** Object:  Trigger [dbo].[trg_CarrierTypes_Update]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CarrierTypes_Update]
ON [dbo].[CarrierTypes]
AFTER UPDATE
AS
BEGIN
    UPDATE C
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM CarrierTypes C
    INNER JOIN inserted i ON C.CarrierTypeId = i.CarrierTypeId;
END
GO
ALTER TABLE [dbo].[CarrierTypes] ENABLE TRIGGER [trg_CarrierTypes_Update]
GO
/****** Object:  Trigger [dbo].[trg_Categories_Insert]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger INSERT
CREATE TRIGGER [dbo].[trg_Categories_Insert]
ON [dbo].[Categories]
AFTER INSERT
AS
BEGIN
    UPDATE C
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM Categories C
    INNER JOIN inserted i ON C.CategoryId = i.CategoryId;
END
GO
ALTER TABLE [dbo].[Categories] ENABLE TRIGGER [trg_Categories_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Categories_Update]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger UPDATE
CREATE TRIGGER [dbo].[trg_Categories_Update]
ON [dbo].[Categories]
AFTER UPDATE
AS
BEGIN
    UPDATE C
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM Categories C
    INNER JOIN inserted i ON C.CategoryId = i.CategoryId;
END
GO
ALTER TABLE [dbo].[Categories] ENABLE TRIGGER [trg_Categories_Update]
GO
/****** Object:  Trigger [dbo].[trg_Clients_Insert]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Clients_Insert]
ON [dbo].[Clients]
AFTER INSERT
AS
BEGIN
    UPDATE C
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM Clients C
    INNER JOIN inserted i ON C.ClientId = i.ClientId;
END
GO
ALTER TABLE [dbo].[Clients] ENABLE TRIGGER [trg_Clients_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Clients_Update]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Clients_Update]
ON [dbo].[Clients]
AFTER UPDATE
AS
BEGIN
    UPDATE C
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM Clients C
    INNER JOIN inserted i ON C.ClientId = i.ClientId;
END
GO
ALTER TABLE [dbo].[Clients] ENABLE TRIGGER [trg_Clients_Update]
GO
/****** Object:  Trigger [dbo].[trg_Colors_Insert]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger INSERT
CREATE TRIGGER [dbo].[trg_Colors_Insert]
ON [dbo].[Colors]
AFTER INSERT
AS
BEGIN
    UPDATE C
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM Colors C
    INNER JOIN inserted i ON C.ColorId = i.ColorId;
END
GO
ALTER TABLE [dbo].[Colors] ENABLE TRIGGER [trg_Colors_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Colors_Update]    Script Date: 11.12.2025 22:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger UPDATE
CREATE TRIGGER [dbo].[trg_Colors_Update]
ON [dbo].[Colors]
AFTER UPDATE
AS
BEGIN
    UPDATE C
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM Colors C
    INNER JOIN inserted i ON C.ColorId = i.ColorId;
END
GO
ALTER TABLE [dbo].[Colors] ENABLE TRIGGER [trg_Colors_Update]
GO
/****** Object:  Trigger [dbo].[trg_Countries_Insert]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Countries_Insert]
ON [dbo].[Countries]
AFTER INSERT
AS
BEGIN
    UPDATE Countries
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM Countries AS C
    INNER JOIN inserted i ON C.CountryId = i.CountryId;
END
GO
ALTER TABLE [dbo].[Countries] ENABLE TRIGGER [trg_Countries_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Countries_Update]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Countries_Update]
ON [dbo].[Countries]
AFTER UPDATE
AS
BEGIN
    UPDATE Countries
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM Countries A
    INNER JOIN inserted i ON A.CountryId = i.CountryId;
END
GO
ALTER TABLE [dbo].[Countries] ENABLE TRIGGER [trg_Countries_Update]
GO
/****** Object:  Trigger [dbo].[trg_Growers_Insert]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Growers_Insert]
ON [dbo].[Growers]
AFTER INSERT
AS
BEGIN
    UPDATE G
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM Growers G
    INNER JOIN inserted i ON G.GrowerId = i.GrowerId;
END
GO
ALTER TABLE [dbo].[Growers] ENABLE TRIGGER [trg_Growers_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Growers_Update]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Growers_Update]
ON [dbo].[Growers]
AFTER UPDATE
AS
BEGIN
    UPDATE G
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM Growers G
    INNER JOIN inserted i ON G.GrowerId = i.GrowerId;
END
GO
ALTER TABLE [dbo].[Growers] ENABLE TRIGGER [trg_Growers_Update]
GO
/****** Object:  Trigger [dbo].[trg_Invoices_Insert]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Invoices_Insert]
ON [dbo].[Invoices]
AFTER INSERT
AS
BEGIN
    UPDATE INV
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM Invoices INV
    INNER JOIN inserted i ON INV.InvoiceId = i.InvoiceId;
END
GO
ALTER TABLE [dbo].[Invoices] ENABLE TRIGGER [trg_Invoices_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Invoices_Update]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Invoices_Update]
ON [dbo].[Invoices]
AFTER UPDATE
AS
BEGIN
    UPDATE INV
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM Invoices INV
    INNER JOIN inserted i ON INV.InvoiceId = i.InvoiceId;
END
GO
ALTER TABLE [dbo].[Invoices] ENABLE TRIGGER [trg_Invoices_Update]
GO
/****** Object:  Trigger [dbo].[trg_OrderItems_Insert]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_OrderItems_Insert]
ON [dbo].[OrderItems]
AFTER INSERT
AS
BEGIN
    -- Audyt: ustaw CreatedAt i CreatedBy
    UPDATE OI
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM OrderItems OI
    INNER JOIN inserted i ON OI.OrderItemId = i.OrderItemId;
END
GO
ALTER TABLE [dbo].[OrderItems] ENABLE TRIGGER [trg_OrderItems_Insert]
GO
/****** Object:  Trigger [dbo].[trg_OrderItems_Update]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_OrderItems_Update]
ON [dbo].[OrderItems]
AFTER UPDATE
AS
BEGIN
    -- Audyt: ustaw UpdatedAt i UpdatedBy
    UPDATE OI
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM OrderItems OI
    INNER JOIN inserted i ON OI.OrderItemId = i.OrderItemId;
END
GO
ALTER TABLE [dbo].[OrderItems] ENABLE TRIGGER [trg_OrderItems_Update]
GO
/****** Object:  Trigger [dbo].[trg_Orders_Insert]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Orders_Insert]
ON [dbo].[Orders]
AFTER INSERT
AS
BEGIN
    -- Audyt: ustaw CreatedAt i CreatedBy
    UPDATE O
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM Orders O
    INNER JOIN inserted i ON O.OrderId = i.OrderId;
END
GO
ALTER TABLE [dbo].[Orders] ENABLE TRIGGER [trg_Orders_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Orders_Update]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Orders_Update]
ON [dbo].[Orders]
AFTER UPDATE
AS
BEGIN
    -- Audyt: ustaw UpdatedAt i UpdatedBy
    UPDATE O
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM Orders O
    INNER JOIN inserted i ON O.OrderId = i.OrderId;
END
GO
ALTER TABLE [dbo].[Orders] ENABLE TRIGGER [trg_Orders_Update]
GO
/****** Object:  Trigger [dbo].[trg_PaymentMethods_Insert]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_PaymentMethods_Insert]
ON [dbo].[PaymentMethods]
AFTER INSERT
AS
BEGIN
    UPDATE PM
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM PaymentMethods PM
    INNER JOIN inserted i ON PM.PaymentMethodId = i.PaymentMethodId;
END
GO
ALTER TABLE [dbo].[PaymentMethods] ENABLE TRIGGER [trg_PaymentMethods_Insert]
GO
/****** Object:  Trigger [dbo].[trg_PaymentMethods_Update]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_PaymentMethods_Update]
ON [dbo].[PaymentMethods]
AFTER UPDATE
AS
BEGIN
    UPDATE PM
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM PaymentMethods PM
    INNER JOIN inserted i ON PM.PaymentMethodId = i.PaymentMethodId;
END
GO
ALTER TABLE [dbo].[PaymentMethods] ENABLE TRIGGER [trg_PaymentMethods_Update]
GO
/****** Object:  Trigger [dbo].[trg_Products_Insert]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_Products_Insert]
ON [dbo].[Products]
AFTER INSERT
AS
BEGIN
    UPDATE P
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM Products P
    INNER JOIN inserted i ON P.ProductId = i.ProductId;
END
GO
ALTER TABLE [dbo].[Products] ENABLE TRIGGER [trg_Products_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Products_Update]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger UPDATE
CREATE TRIGGER [dbo].[trg_Products_Update]
ON [dbo].[Products]
AFTER UPDATE
AS
BEGIN
    UPDATE P
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM Products P
    INNER JOIN inserted i ON P.ProductId = i.ProductId;
END
GO
ALTER TABLE [dbo].[Products] ENABLE TRIGGER [trg_Products_Update]
GO
/****** Object:  Trigger [dbo].[trg_Qualities_Insert]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger INSERT
CREATE TRIGGER [dbo].[trg_Qualities_Insert]
ON [dbo].[Qualities]
AFTER INSERT
AS
BEGIN
    UPDATE Q
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM Qualities Q
    INNER JOIN inserted i ON Q.QualityId = i.QualityId;
END
GO
ALTER TABLE [dbo].[Qualities] ENABLE TRIGGER [trg_Qualities_Insert]
GO
/****** Object:  Trigger [dbo].[trg_Qualities_Update]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger UPDATE
CREATE TRIGGER [dbo].[trg_Qualities_Update]
ON [dbo].[Qualities]
AFTER UPDATE
AS
BEGIN
    UPDATE Q
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM Qualities Q
    INNER JOIN inserted i ON Q.QualityId = i.QualityId;
END
GO
ALTER TABLE [dbo].[Qualities] ENABLE TRIGGER [trg_Qualities_Update]
GO
/****** Object:  Trigger [dbo].[TR_StockMovements_Insert]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_StockMovements_Insert]
ON [dbo].[StockMovements]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE sm
    SET 
        CreatedBy = SUSER_SNAME(),          -- lub SUSER_SNAME() jeśli wolisz
        CreatedAt = SYSUTCDATETIME()
    FROM StockMovements sm
    INNER JOIN inserted i ON sm.StockMovementId = i.StockMovementId;
END;
GO
ALTER TABLE [dbo].[StockMovements] ENABLE TRIGGER [TR_StockMovements_Insert]
GO
/****** Object:  Trigger [dbo].[TR_StockMovements_Update]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_StockMovements_Update]
ON [dbo].[StockMovements]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE sm
    SET 
        UpdatedBy = SUSER_SNAME(),          -- lub SUSER_SNAME() jeśli wolisz
        UpdatedAt = SYSUTCDATETIME()
    FROM StockMovements sm
    INNER JOIN inserted i ON sm.StockMovementId = i.StockMovementId;
END;
GO
ALTER TABLE [dbo].[StockMovements] ENABLE TRIGGER [TR_StockMovements_Update]
GO
/****** Object:  Trigger [dbo].[trg_TrayTypes_Insert]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TrayTypes_Insert]
ON [dbo].[TrayTypes]
AFTER INSERT
AS
BEGIN
    UPDATE T
    SET CreatedAt = SYSUTCDATETIME(),
        CreatedBy = SUSER_SNAME()
    FROM TrayTypes T
    INNER JOIN inserted i ON T.TrayTypeId = i.TrayTypeId;
END
GO
ALTER TABLE [dbo].[TrayTypes] ENABLE TRIGGER [trg_TrayTypes_Insert]
GO
/****** Object:  Trigger [dbo].[trg_TrayTypes_Update]    Script Date: 11.12.2025 22:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TrayTypes_Update]
ON [dbo].[TrayTypes]
AFTER UPDATE
AS
BEGIN
    UPDATE T
    SET UpdatedAt = SYSUTCDATETIME(),
        UpdatedBy = SUSER_SNAME()
    FROM TrayTypes T
    INNER JOIN inserted i ON T.TrayTypeId = i.TrayTypeId;
END
GO
ALTER TABLE [dbo].[TrayTypes] ENABLE TRIGGER [trg_TrayTypes_Update]
GO
USE [master]
GO
